.types {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60px;
    border-radius: 30px;
    padding: 1px 15px;
    margin-top: 3px;
}

.typeGrass {
    background-color: #9CE6D0;
    margin: 5px;
}

.typePoison {
    background-color: #C183C1;
    margin: 5px;
}

.typeNormal {
    background-color: #C4C4A4;
    margin: 5px;
}

.typeFire {
    background-color: #F5AC78;
    margin: 5px;
}

.typeWater {
    background-color: #9DB7F5;
    margin: 5px;
}

.typeElectric {
    background-color: #FAE078;
    margin: 5px;
}

.typeIce {
    background-color: #BCE6E6;
    margin: 5px;
}

.typeFighting {
    background-color: #D67873;
    margin: 5px;
}

.typeGround {
    background-color: #ECD6A3;
    margin: 5px;
}

.typeFlying {
    background-color: #C6B7F5;
    margin: 5px;
}

.typePsychic {
    background-color: #FA92B2;
    margin: 5px;
}

.typeBug {
    background-color: #C6D16E;
    margin: 5px;
}

.typeRock {
    background-color: #D1C17D;
    margin: 5px;
}

.typeGhost {
    background-color: #A292BC;
    margin: 5px;
}

.typeDragon {
    background-color: #A27DFA;
    margin: 5px;
}

.typeDark {
    background-color: #A29288;
    margin: 5px;
}

.typeSteel {
    background-color: #D1D1E0;
    margin: 5px;
}

.typeFairy {
    background-color: #F4BDC9;
    margin: 5px;
}




/* --------------------------------------------- */

.pokeballSVGGrass {
    fill: #9CE6D0 !important;
}

.pokeballSVGPoison {
    fill: #C183C1 !important;
}

.pokeballSVGNormal {
    fill: #C4C4A4 !important;
}

.pokeballSVGFire {
    fill: #F5AC78 !important;
}

.pokeballSVGWater {
    fill: #9DB7F5 !important;
}

.pokeballSVGElectric {
    fill: #FAE078 !important;
}

.pokeballSVGIce {
    fill: #BCE6E6 !important;
}

.pokeballSVGFighting {
    fill: #D67873 !important;
}

.pokeballSVGGround {
    fill: #ECD6A3 !important;
}

.pokeballSVGFlying {
    fill: #C6B7F5 !important;
}

.pokeballSVGPsychic {
    fill: #FA92B2 !important;
}

.pokeballSVGBug {
    fill: #C6D16E !important;
}

.pokeballSVGRock {
    fill: #D1C17D !important;
}

.pokeballSVGGhost {
    fill: #A292BC !important;
}

.pokeballSVGDragon {
    fill: #A27DFA !important;
}

.pokeballSVGDark {
    fill: #A29288 !important;
}

.pokeballSVGSteel {
    fill: #D1D1E0 !important;
}

.pokeballSVGFairy {
    fill: #F4BDC9 !important;
}



/* --------------------------------------- */

.pokemonCaseGrass {
    background-color: #2CDAB1;
}

.pokemonCaseFire {
    background-color: #F08030;
}

.pokemonCasePoison {
    background-color: #F08030;
}

.pokemonCaseNormal {
    background-color: #A8A878 ;
}

.pokemonCaseWater {
    background-color: #6890F0 ;
}

.pokemonCaseElectric {
    background-color: #F8D030 ;
}

.pokemonCaseIce {
    background-color: #98D8D8 ;
}

.pokemonCaseFighting {
    background-color: #C03028  ;
}

.pokemonCaseGround {

    background-color: #E0C068 ;
}

.pokemonCaseFlying {
    background-color: #A890F0 ;
}

.pokemonCasePsychic {
    background-color: #F85888 ;
}

.pokemonCaseBug {
    background-color: #A8B820 ;
}

.pokemonCaseRock {
    background-color: #B8A038 ;
}

.pokemonCaseGhost {
    background-color: #705898 ;
}

.pokemonCaseDragon {
    background-color: #7038F8 ;
}

.pokemonCaseDark {
    background-color: #705848 ;
}

.pokemonCaseSteel {
    background-color: #B8B8D0 ;
}

.pokemonCaseFairy {
    background-color: #EE99AC  ;
}