* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

nav {
    background-color: #FA6555;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 10px;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline > h1 {
    color: #FFFFFF;
    font-size: 32px;
    z-index: 3;
}

.headline > input {
    border: none;
    border-radius: 30px;
    height: 28px;
    width: 250px;
    margin-top: 20px;
    padding: 5px 15px;
}

.pokeballSVG {
    position: absolute;
    width: 300px;
    height: 300px;
    fill: #E15B4D;
}

.pokeballSVGHead {
    position: relative;
    top: -150px;
    left: 200px;
}

.pokedexCase {
   
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokeballSVGGrass {
   
    width: 200px;
    height: 200px;
    fill: #60E3C4;
}

.pokeballSVGCase {
position: absolute;
top: 40px;
left: 130px;
}

.pokemonCaseGrass {
    position: relative;
    min-height: 150px;
    background-color: #2CDAB1;
    width: 250px;
    padding: 25px;
    border-radius: 30px;
    overflow: hidden;
    margin: 3px;
}

.type {
    display: flex;
    justify-content: center;
    width: 60px;
    background-color: #61E3C5;
    border-radius: 30px;
    padding: 1px;
}

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageContainer {
    position: absolute;
}

.imageOfPokemon {
    position: relative;
    width: 150px;
    left: 120px;
    top: -35px;
    z-index: 3;
}


.overview {
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.pokemonOverview {
    width: 200px;
    position: relative;
    z-index: 3;
}

.stats {
    background-color: #ffffff;
    width: 600px;
    min-height: 250px;
    border-radius: 40px 40px 0 0 ;
    padding: 50px;
}

.pokeballoverview {
    position: relative;
}

.pokeballSVGGrassOverview {
   position: absolute;
    width: 250px;
    height: 250px;
    fill: #60E3C4;
    right: -25px;
    top: -20px;
    z-index: 0;
}

.overviewPokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #2CDAB1;
    width: 600px;
    min-height: 150px;
    padding: 0 50px;
    border-radius: 20px 20px 0 0 ;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.navigation > a {
    color: gray;
    text-decoration: none;
}

.navigation > a:hover {
    color: rgb(76, 76, 76);
    text-decoration: none;
}

.navigation > .activ {
    font-weight: bold;
    color: rgb(227, 58, 58);
    text-decoration: underline;
}

.overviewName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about {
    color: rgb(71, 71, 71);
}

.baseStats {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2CDAB1;
    width: 250px;
    border-radius: 20px;
    margin-top: 15px;
}

.baseStats > ul {
    display: flex;
    flex-direction: row;
    width: 250px;
}

.baseStats > ul > li {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 250px;
    padding: 20px;
}



.attributeTitle {
    padding: 5px 15px;
    
}

.attributeValue {
    padding: 5px 15px;
}


.pokemonType {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 200px;
    margin-top: 20px;
    margin-left: 100px;
}

.attribute {
    display: flex;
}

.statsWeaknesses {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.baseMoveSet {
    list-style: none; 
}

.baseMoveSet li:nth-child(1),
.baseMoveSet li:nth-child(3) {
    display: flex;
    flex-direction: row;
}

.baseMoves > span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(187, 187, 187);
    border-radius: 0px 10px 10px 10px;
    border: solid 2px rgb(218, 217, 217);
    padding: 15px;
    font-size: 28px;
    margin: 5px;
    width: 250px;
    color: #4f4f4f;
    font-weight: bold;
} 

.baseMoves {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

